
#pgMn_Dstl_freeRd, #pgMn_Dstl_PtRd, #pgMn_Dstl_QaaRd, #pgMn_DRsv_SplSrch {
	width: 50%;
}

/*#pgMn_DRsv_IssTn, #pgMn_Dstl_freeRd,#pgMn_Dstl_QaaRd,#pgMn_Dstl_Ad-2, .pgMn-Dstl-MdcInfo {
	width:580px;
}

.pgMn-TDstl-QaaRdTtl {
	width:530px;
	max-width: 530px;
}

.phMn-TDstl-freeTtl {
	width:460px;
	max-width:460px;
}

#pgMn_Dstl_RdInfo-2 {
	height:527px;
}

.pgMn-LIstl-PtRd {
	width:270px;
}*/

.C_img_Mn_GlrRd {
	width:100%;
	max-width:100%;
	height:auto;
}


/*.pgMn-SbTtl-style {
	width: 580px;
}*/