
#pgMn_Dstl_freeRd, #pgMn_Dstl_PtRd, #pgMn_Dstl_QaaRd, #pgMn_DRsv_SplSrch {
	width: 100%;
}


/*#pgMn_DRsv_IssTn, #pgMn_Dstl_freeRd,#pgMn_Dstl_QaaRd,#pgMn_Dstl_Ad-2, .pgMn-Dstl-MdcInfo {
	width:480px;
}

.pgMn-TDstl-QaaRdTtl {
	width:430px;
	max-width: 430px;
}

.phMn-TDstl-freeTtl {
	width:360px;
	max-width:360px;
}

#pgMn_Dstl_RdInfo-2 {
	height:452px;
}

.pgMn-LIstl-PtRd {
	width:220px;
}*/

.C_img_Mn_GlrRd {
	width:100%;
	max-width:100%;
	height:auto;
}

/*.pgMn-SbTtl-style {
	width: 480px;
}*/