/*#mInfo_main {
	width:1180px;
} 
#mInfo_wapper {
	width:930px;
}
#mInfo_Dstl_SplAd {
	width:400px;
}
#mInfo_Dstl_Srch {
	width:530px;
}
#mInfo_DH1up-lft, #mInfo_DH1dn-lft  {
	width:460px;
}
#mInfo_DH1up-rt, #mInfo_DH1dn-rt   {
	width:460px;
}
.mInfo-Dstl-RdTtl  {
	width:340px;
}*/