/*#mInfo_main {
	width:980px;
} \
#mInfo_wapper {
	width:730px;
}
#mInfo_Dstl_SplAd {
	width:300px;
}
#mInfo_Dstl_Srch {
	width:430px;
}
#mInfo_DH1up-lft, #mInfo_DH1dn-lft  {
	width:360px;
}
#mInfo_DH1up-rt, #mInfo_DH1dn-rt   {
	width:360px;
}
.mInfo-Dstl-RdTtl  {
	width:240px;
}*/