

#brdWrt_main {
	width:730px;
	margin:auto;
}

#brdWrt_wapper {

}
#brdWrt_Dplec_1 {

}

#brdWrt_Dplec_WrtTtl {
	width:600px;
	height:30px;
	font-size:14px;
} 

#brdWrt_Dstl_Blk {
	
	margin:auto;
	width:130px;
	height:250px;
	/*border:1px solid red;*/
}

#brdWrt_Dstl_SltTp { /*csc 관련*/
	width:100px;
	height:30px;
	font-size:14px;
} 
#brdWrt_Dstl_SltTp-2 { /*csc 관련*/
	width:100px;
	height:30px;
	font-size:14px;
} 

